*.user
*.suo
*.VC.db*
*.shader_inc
*.vspscc
*.opensdf
*.sdf
*.ipch
*.cache
*.tlog
*.lastbuildstate
*.ilk
*.log
* - Copy*.*
Build_VS11
Build_VS12
Build_VS14
Build_VS15
Build
Packages
/ModelConverter/assimp.dll
Packages
.vs
LL/3rdParty/cereal-1.3.0/unittests
LL/3rdParty/cereal-1.3.0/sandbox
LL/3rdParty/cereal-1.3.0/scripts
LL/3rdParty/cereal-1.3.0/doc
LL/3rdParty/entt-3.7.1/.github
LL/3rdParty/entt-3.7.1/build
LL/3rdParty/entt-3.7.1/cmake
LL/3rdParty/entt-3.7.1/conan
LL/3rdParty/entt-3.7.1/docs
LL/3rdParty/entt-3.7.1/script
LL/3rdParty/entt-3.7.1/src
LL/3rdParty/entt-3.7.1/test
LL/3rdParty/glm
ModelConverter
ModelViewer
Model
